<h1>New User</h1>

<%= error_messages_for :user %>

<% form(users_create_url, :class => "new_user", :id => "new_user") do %>
  <p>
    <%= :user.text_field :username, :label => true %>
  </p>
  <p>
    <%= :user.password_field :password, :label => true %>
  </p>
  <p>
    <%= :user.password_field :password_confirmation, :label => true %>
  </p>
  <p>
    <%= :user.text_field :email, :label => true %>
  </p>
  <p>
    <%= :user.text_field :display_name, :label => true %>
  </p>
  <p>
    <%= submit_button("Create") %>
  </p>
<% end %>

<%= link_to("Back", users_index_url) %>
