<h1>New Page</h1>

<%= error_messages_for :page %>

<% form(pages_create_url, :class => "new_page", :id => "new_page") do %>
  <%= :page.hidden_field :url %>
  <p>
    <%= :page.text_field :title, :label => true %>
  </p>
  <p>
    <%= :page.text_field :author, :label => true %>
  </p>
  <p>
    <%= :page.text_area :body, :label => true %>
  </p>
  <p>
    <%= submit_button("Create") %>
  </p>
<% end %>

<%= link_to("Back", pages_index_url) %>
