</html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title><%= (@page.nil? ? 'Miki' : @page.title) %></title>

  <%= stylesheet [:style, :custom] %>

  <!--[if lte IE 7]>
  <%= stylesheet :ie7 %>
  <![endif]-->
  <!--[if lte IE 6]>
  <%= stylesheet :ie6 %>
  <![endif]--> 
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/textile-editor.js"></script>
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-4007638-3");
  pageTracker._trackPageview();
  </script>

</head>
<body class="custom">

<div id="header">
  <div id="logo">
    <a href="http://www.mackframework.com" title="Mack Framework">Mack Framework</a>
    <p id="tagline">A Distributed Ruby Web Application Framework</p>
  </div>
</div> 


  
<div id="container">
  <%= render(:partial, "pages/nav") %>
  <div id="content_box">

    <div id="content" class="page">
      <%= yield_to :view %>
    </div>

    <div id="sidebar">
      <ul class="sidebar_list">
        <%= render(:partial, "pages/current_release") %>
        <%= render(:url, newest_pages_url(:limit => 5)) %>
        <%= render(:url, recently_updated_pages_url(:limit => 5)) %>
      </ul>
    </div>
  
  </div>

</div>

<div id="footer">
  <p>&copy; Mack Framework</p>
</div>

<script type="text/javascript">
Event.observe(window, "load", function() {
TextileEditor.initialize("page_body", "extended");
});
</script>

</body>
</html>